@import "tailwindcss";

html, body, #app {
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.dark-mode {
    color-scheme: dark;
}

.dark-mode body {
    background-color: #1a1a2e;
    color: #e0e0e0;
}